:root {
    --color-error: #ff5f5f;
}

.error {
    color: var(--color-error);
    display: block;
}

a {
    text-decoration: none !important;
}

/* Blogposts */
.blogPost {
    border: 1px solid lightgray;
}

.blogButtons a {
    width: fit-content;
    height: fit-content;
}
.blogButtons img {
    width: 32px;
    height: 32px;
}

/* New blogpost form */
#bloggtext > *:not([hidden]) {
    display: block;
}
