@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital@0;1&display=swap');

:root {
    /* Fonts */
    --font-family-heading: 'Lobster', sans-serif;
    --font-family-body: 'Noto Sans', sans-serif;
    /* Colors */
    --color-error: #ff5f5f;
    --color-text: #1b110e;
    --color-background: #faf6f5;
    --color-primary: #6b8a7a;
    --color-secondary: #c0bdba;
    /* Distances */
    --xs: 0.25em;
    --s: 0.5em;
    --m: 1em;
    --l: 2em;
    --xl: 4em;
    --xxl: 8em;

    --border-width: 1px;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-family-body);
    font-weight: 400;
    width: 100dvw;
    min-height: 100svh !important;
    height: fit-content;
    margin: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family-heading);
    font-weight: normal;
    margin-block: var(--s);
}

html {
    font-size: 1em;
}

h1 {
    font-size: 3.053em;
}

h2 {
    font-size: 2.442em;
}

h3 {
    font-size: 1.954em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small {
    font-size: 0.8em;
}

/* Utility classes */
.start {
    display: flex;
    justify-content: start;
}

.align-start {
    display: flex;
    align-items: start;
}

.center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.end {
    display: flex;
    justify-content: end;
}

.align-end {
    display: flex;
    align-items: end;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-space-between {
    display: flex;
    align-items: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.align-space-around {
    display: flex;
    align-items: space-around;
}

.column {
    height: 100%;
    box-sizing: border-box;
    flex-flow: column nowrap;
}

.row {
    width: 100%;
    box-sizing: border-box;
    flex-flow: row nowrap;
}

main {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: var(--xxl) 0;
    box-sizing: border-box;
}

.button {
    color: var(--color-text);
    padding: var(--s) var(--m);
    border-radius: var(--xs);
    font-size: 1.1em;
    background-color: var(--color-background);
    border: var(--border-width) solid var(--color-primary);
    transition-duration: 0.5s;
    text-decoration: none;
}

.button:not([disabled]) {
    cursor: pointer;
}

.button.primary {
    background-color: var(--color-primary);
    transition-duration: 0.2s;
}

.button:hover {
    filter: brightness(0.8);
}

.button:active {
    filter: brightness(1.4);
    transition-duration: 0.1s;
}

main > button,
main > a.button {
    display: block;
    margin-block: var(--m);
}

.labeledInput {
    display: block;
    margin: var(--m) 0;
    width: 100%;
}

.labeledInput > label {
    display: block;
    margin-bottom: var(--xs);
}

.notice {
    margin-top: var(--l);
}

/* Logo */
a:has(.logo) {
    text-decoration: none;
}

.logo {
    color: var(--color-text);
    font-family: var(--font-family-heading);
    font-size: 2.4rem;
}

.logo.big {
    font-size: 4em;
}

/* Error */
.error {
    color: var(--color-error);
}

p.error {
    display: block;
    margin-block: var(--m);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    padding: var(--s) var(--xl);
    gap: var(--l);
}

header nav {
    flex: 1;
}

header nav > * {
    flex: 1;
    text-align: center;
}

header nav > a {
    color: var(--color-text);
    text-decoration: none;
    padding: var(--s);
    font-family: var(--font-family-heading);
    font-size: 2em;
    transition-duration: 0.5s;
}

header nav > a:hover {
    color: #fff;
    transition-duration: 0.2s;
}

.loggedInUser {
    font-family: var(--font-family-heading);
    margin-left: var(--xs);
}

/* Footer */
footer {
    background-color: var(--color-primary);
    padding: var(--m);
    gap: var(--xl);
    position: absolute;
    bottom: 0;
}

footer nav > a {
    color: var(--color-text);
    text-decoration: none;
    padding: var(--s);
    font-family: var(--font-family-body);
    font-size: 1.2em;
    transition-duration: 0.5s;
}

footer nav > a:hover {
    color: #fff;
    transition-duration: 0.2s;
}

/* Profile picture */
.profilePicture {
    display: inline-block;
    background-color: var(--color-secondary);
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 1em;
    padding: var(--xs);
    margin: var(--xs);
    box-sizing: border-box;
}
